<p>
    ¡Hola! Soy Pablo Vidal, bioinformático. Me encanta la tecnología y sobre todo el desarrollo de software. En mi tiempo libre, he desarrollado programas bioinformáticos así como proyectos relacionados con el desarrollo de videojuegos.
    
    <br><br>

    Puedes encontrarme en <a href="https://github.com/DarthPapalo" target="_blank" rel="noopener noreferrer">GitHub</a> y <a href="https://www.linkedin.com/in/vidalvaqueropablo/" target="_blank" rel="noopener noreferrer">LinkedIn</a>.

    También puedes enviarme un correo a <span id="email"><a href="mailto:vidalvaqueropablo@gmail.com" target="_blank" rel="noopener noreferrer">vidalvaqueropablo@gmail.com</a></span>.
    
    <br><br>

    © 2026 Pablo Vidal
</p>