---
import Avatar from "../Avatar.astro";
---
<header>
    <div id="headers">
        <h1>Pablo Vidal Vaquero</h1>
        <h3>Bioinformático y desarrollador de software</h3>
    </div>
    <Avatar />
</header>