<p>
    Licenciado en Bioinformática y apasionado por la tecnología.
    
    <br><br>

    Me especializo en el desarrollo de software y herramientas bioinformáticas, con un fuerte enfoque en buenas prácticas y arquitectura de código.

    <br><br>

    En mi tiempo libre me dedico a desarrollar herramientas y proyectos utilizando <a href="https://godotengine.org" target="_blank" rel="noopener noreferrer">Godot</a>, un motor de código abierto para el desarrollo de videojuegos. La mayoría de mis proyectos en Godot los desarrollo utilizando su lenguaje dedicado, <i>GDScript</i>.
    
    <br><br>

    Estos son algunos de los proyectos que he desarrollado:
</p>
<ul>
    <h4><b><span class="identation-symbol">>></span><i>Bioinformática...</i></b></h4>
    <li><a href="https://github.com/DarthPapalo/phagefind" target="_blank" rel="noopener noreferrer">phagefind</a> — Una herramienta bioinformática para la identificación de secuencias de bacteriófagos en ensamblajes <i>de novo</i> a partir de datos de secuenciación de bacterias.</li>
    <li><a href="https://github.com/DarthPapalo/clapy" target="_blank" rel="noopener noreferrer">clapy</a> — Librería de Python para el procesamiento de argumentos de la línea de comandos, enfocada en la personalización, simplicidad y facilidad de uso.</li>

    <h4><b><span class="identation-symbol">>></span><i>Desarrollo de videojuegos...</i></b></h4>
    <li><a href="https://github.com/DarthPapalo/godot-toml" target="_blank" rel="noopener noreferrer">godot-toml</a> — Addon para Godot 4.5+ que añade soporte para TOML v1.1.0. Implementa un <i>lexer</i> y <i>parser</i> que cumplen al 100% con la especificación v2.2.0.</li>
</ul>