<p>
    Hello! I'm Pablo Vidal, a bioinformatician. I love technology and software development. In my spare time, I've developed bioinformatics programs as well as projects related to video game development.
    
    <br><br>

    You can find me on <a href="https://github.com/DarthPapalo" target="_blank" rel="noopener noreferrer">GitHub</a> and <a href="https://www.linkedin.com/in/vidalvaqueropablo/" target="_blank" rel="noopener noreferrer">LinkedIn</a>.

    You can also email me at <span id="email"><a href="mailto:vidalvaqueropablo@gmail.com" target="_blank" rel="noopener noreferrer">vidalvaqueropablo@gmail.com</a></span>.
    
    <br><br>

    © 2026 Pablo Vidal
</p>