<p>
    Bioinformatics graduate and passionate about technology.
    
    <br><br>

    I specialise in the development of bioinformatics software and tools, with a strong focus on best practices and code architecture.

    <br><br>

    In my free time, I develop projects and tools using <a href="https://godotengine.org" target="_blank" rel="noopener noreferrer">Godot</a>, an open-source engine for video game development. I develop most of my Godot projects using its dedicated language, <i>GDScript</i>.
    
    <br><br>

    These are some of the projects I have worked on:
</p>
<ul>
    <h4><span class="identation-symbol">>></span><i>Bioinformatics...</i></h4>
    <li><a href="https://github.com/DarthPapalo/phagefind" target="_blank" rel="noopener noreferrer">phagefind</a> — PhageFind is a bioinformatics tool for the identification of bacteriophage sequences in <i>de novo</i> assemblies from bacterial sequencing data.</li>
    <li><a href="https://github.com/DarthPapalo/clapy" target="_blank" rel="noopener noreferrer">clapy</a> — A Python library for command-line argument processing, designed with customisation, simplicity and ease of use in mind.</li>

    <h4><span class="identation-symbol">>></span><i>Video game development...</i></h4>
    <li><a href="https://github.com/DarthPapalo/godot-toml" target="_blank" rel="noopener noreferrer">godot-toml</a> — Addon for Godot 4.5+ that adds support for TOML v1.1.0. Implements a <i>lexer</i> and <i>parser</i> fully compliant with the v2.2.0 specification.</li>
</ul>